
<div class="center">

  <h1> My dogBook </h1>

  <div class="row" id="logo">
      <%= cl_image_tag("Coco8_m4igtr.jpg", :radius=>"max", :width=>300, :height=>300, :crop=>:fit, :effect=>"sepia") %>
  </div>



  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>





