<div class="container">
  <div class="row">
      <h1>Photos</h1>
  </div>

  <div class="row center">
      <p>Owner name:
        <%= @user.name %> </p>

      <p>Dog name:
        <%= @dog.name %></p>
  </div>
  <div class="row center">
      <h3>You just added this photo:</h3>
        <%= cl_image_tag(@photo.cloud_id, :width => 200, :height => 400, :crop => :fit, :radius => 20) %>
  </div>
</div>
