<h1>Photos</h1>

<div>
    <p>Owner name:
      <%= @user.name %> </p>

    <p>Dog name:
      <%= @dog.name %></p>

    <p>You just added this photo:<br>
      <%= cl_image_tag(@photo.cloud_id) %></p>
</div>

